*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */
header{
    height: 100px;
    background-color: rgb(170, 170, 252);
}

header nav{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

